<mat-card class="card-home mat-elevation-z3">
    <mat-card-title class="card-title">
        Editar Filme
    </mat-card-title>

    <form [formGroup]="updateForm" id="form" (ngSubmit)="this.updateMovie()">
        <mat-form-field>
            <input matInput placeholder="Título do Filme" formControlName="title">
            <mat-error *ngIf="errorHandlingForm('title', 'required')">
                O campo <strong>Título do Filme</strong> é obrigatório!
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Diretor" formControlName="director">
            <mat-error *ngIf="errorHandlingForm('director', 'required')">
                O campo <strong>Diretor</strong> é obrigatório!
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Gênero do Filme" formControlName="genres">
            <mat-error *ngIf="errorHandlingForm('genres', 'required')">
                O campo <strong>Gênero do Filme</strong> é obrigatório!
            </mat-error>
        </mat-form-field>

        <mat-label style="margin-top: 10px;">Ano de Lançamento</mat-label>
        <select matNativeControl formControlName="year">
          <option *ngFor="let ano of arrayAnos" [value]="ano">
            {{ano}}
          </option>
        </select>
        <mat-error *ngIf="errorHandlingForm('year', 'required')">
            O campo <strong>Ano de Lançamento</strong> é obrigatório!
        </mat-error>
    </form>

    <div>
        <button mat-flat-button color="primary" type="submit" form="form" [disabled]="!updateForm.valid">Atualizar</button>
        <button mat-flat-button color="warn" (click)="this.cancel()">Cancelar</button>
    </div>

</mat-card>

