table {
    width: 100%;
}

.mat-table {
    overflow-x: scroll;
  }

a{
    margin-right: 15px;
}

.edit{
    color: royalblue;
}

.delete{
    color: tomato
}

.mat-table-container {
    margin-top: 20px;
    position: relative;
    min-height: 200px;
    max-height: 70vh !important;
    overflow: auto;
}