.card-home{
    background-color: #f5f5f5;
}

.card-home .card-title{
    font-size: 1.3rem;
    margin-bottom: 10px;
    line-height: 1.2;
}

.card-home .card-substitle{
    font-size: 0.8rem;
}

.btn_add_movies {
    display: flex;
    justify-content: flex-end;
}